

<ion-content [fullscreen]="true" class="ion-padding">
  <h1 class="titulo">ConnectWisse</h1>
  <form (ngSubmit)="enviarPregunta()">
    <ion-item>
      <ion-label position="floating">Pregunta</ion-label>
      <ion-input type="text" [(ngModel)]="pregunta" name="pregunta" required></ion-input>
    </ion-item>
    <ion-button color="tertiary" fill="outline" type="submit" expand="block">Obtener Solución</ion-button>
  </form>
  <ion-card *ngIf="solucion">
    <ion-card-header>
      Solución
    </ion-card-header>
    <ion-card-content class="solucion">
      {{ solucion }}
    </ion-card-content>
  </ion-card>
</ion-content>
 