<ion-header>
  <ion-toolbar>
    <ion-title>Sistema Experto</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form (ngSubmit)="enviarPregunta()">
    <ion-item>
      <ion-label position="floating">Pregunta</ion-label>
      <ion-input type="text" [(ngModel)]="pregunta" name="pregunta" required></ion-input>
    </ion-item>
    <ion-button type="submit" expand="block">Obtener Solución</ion-button>
  </form>
  <ion-card *ngIf="solucion">
    <ion-card-header>
      Solución
    </ion-card-header>
    <ion-card-content>
      {{ solucion }}
      <img [src]="imageUrl" *ngIf="imageUrl" />
    </ion-card-content>
  </ion-card>
</ion-content>
 